---
export interface Props {
	title?: string;
	tag?: string;
}

const { title = 'WebDev Essentials', tag = '' } = Astro.props as Props;
import '../styles/globals.scss';
import '../styles/dark.scss';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta
			name='description'
			content='A portfolio for Will Kimble a Front End Web Developer'
		/>
		<!-- Favicons -->
		<link
			rel='apple-touch-icon'
			sizes='180x180'
			href='apple-touch-icon.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='favicon-32x32.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='16x16'
			href='favicon-16x16.png'
		/>
		<link rel='manifest' href='site.webmanifest' />
		<!-- Fonts -->
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<!-- For the Hero Text -->
		<link
			href='https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;500;600;700&family=IBM+Plex+Sans:wght@200;300;400;500;600&display=swap'
			rel='stylesheet'
		/>
		<!-- For the body text -->
		<meta name='generator' content={Astro.generator} />
		<title>{title}{tag}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script src='../scripts/darkmode.js'></script>
<script src='../scripts/webpDetection.js'></script>
